package pages

templ Footer() {
	<section class="flex flex-col justify-center">
		<div class="flex flex-col gap-4 text-sm">
			<a href="#projects" class="hover:text-white">Projects</a>
			<a href="#services" class="hover:text-white">Services</a>
			<a href="#testimonials" class="hover:text-white">Testimonials</a>
			<a href="#contact" class="hover:text-white">Contact</a>
		</div>
		<div class="flex flex-col">
			<p>
				© 2025 Milijan Mošić — Software Engineer
			</p>
			<p>
				Building fast, reliable, scalable software systems.
			</p>
			<p>
				Based in Serbia • Working worldwide 🌍
			</p>
		</div>
		<div class="flex">
			<a href="#" class="glass-card w-12 h-12 m-1 hover:bg-white text-2xl flex items-center justify-center">
				<i class="fa-solid fa-location-dot"></i>
			</a>
			<a href="#" class="glass-card w-12 h-12 m-1 hover:bg-white text-2xl flex items-center justify-center">
				<i class="fa-solid fa-envelope"></i>
			</a>
			<a href="#" class="glass-card w-12 h-12 m-1 hover:bg-white text-2xl flex items-center justify-center">
				<i class="fa-brands fa-github"></i>
			</a>
			<a href="#" class="glass-card w-12 h-12 m-1 hover:bg-white text-2xl flex items-center justify-center">
				<i class="fa-brands fa-linkedin"></i>
			</a>
		</div>
	</section>
}
