package pages

templ Pricing() {
	<section id="pricing" class="glass-card p-4 md:p-8 my-16 mx-4 flex flex-col items-center w-full md:w-[400px]">
		<h2 class="text-2xl font-bold mb-16 mt-4">Pricing</h2>
	</section>
}
