@font-face {
  font-family: "Roboto";
  src: url("/static/fonts/Roboto/static/Roboto-Regular.ttf");
}

html,
body {
  scroll-behavior: smooth !important;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  background-color: black;
  color: white;
}
