@font-face {
  font-family: "Roboto";
  src: url("/static/fonts/Roboto/static/Roboto-Regular.ttf");
}

/* @font-face {
  font-family: "Lato";
  src: url("/static/fonts/Lato/Lato-Regular.ttf");
} */

html,
body {
  scroll-behavior: smooth !important;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: black;
  color: white;
}

.glass-card {
  outline: none;
  overflow: hidden;
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.08) 50%,
    rgba(255, 255, 255, 0.03) 100%
  );
  box-shadow: 0.1vw 0.1vw 0 #ffffff33;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 2.2);
  backdrop-filter: blur(1rem);
}
